body {
	inline-size: 700px;
	block-size: 100%;
	margin: 0 auto;
}

.header {
	margin: 0 0 2rem;
}
.heading-a,
.heading-b,
.heading-c {
	display: block;
	text-align: center;
	line-height: 1;
}

.img {
	block-size: 500px;
	inline-size: 100%;
}

.button-container {
	display: flex;
	border: 1px solid black;
}

.btn {
	flex: 1;
	border: 1px solid blue;
}
