:root {
	--colour-btn: #5d9c59;
	--colour-btn-active: #41644a;
	--colour-text: #263a29;
	--colour-background: #fee8b0;
}

body {
	color: var(--colour-text);
	inline-size: 43.75rem;
	block-size: 100%;
	background-color: var(--colour-background);
	margin: 0 auto;
}

.header {
	margin: 2rem 0;
}
.heading-a,
.heading-b,
.heading-c {
	display: block;
	text-align: center;
	line-height: 1;
}

.heading-a,
.heading-b {
	font-size: 1.5rem;
}

.heading-c {
	font-size: 2.5rem;
}

.img {
	block-size: 31.25rem;
	inline-size: 100%;
}

.button-container {
	display: flex;
	margin: 2rem 0;
}

.btn {
	flex: 1;
	text-align: center;
	background-color: var(--colour-btn);
	padding: 1rem 0;
}

.attribution {
	text-align: center;
	margin: 2rem 0 0;
}

.link {
	text-decoration: none;
}
